*~
.DS_Store
*.mo
.*.sw?
*.pyc
build
dist
cms.egg-info
.testfailures
.unittestfailures
.coverage*
cache/
lib/
log/
.vagrant/
codecov/
.dev/
test_logs/

# Local environment configuration files
*.local
.env*.local

# VSCode settings
.vscode/
